<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="/Assets/Icon/favicon_io - Original/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>DaleOficios</title>
</head>
<body>
    <header class="Titulo">
        <img src="/assets/icon/Logo/DaleOficios Blanco.png" alt="" class="Logo">
            <ul class="Inicio">
                <li>
                <a href="/index.html" class="categoria">Categorías</a>
                </li>
                <li>
                <a href="/views/origen.html" class="quienesSomos">¿Quiénes somos?</a>
                </li>
                <li>
                <a href="/views/contactanos.html" class="contacto">Contacto</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="buscar">
            </form>
            <div class="text-end">
                <a href="/views/iniciosesion.html" button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</a>
                <a href="/views/formulario.html" button type="button" class="btn btn-outline-light me-2">Registrarse</a>
            </div>
         </nav>
    </header>
        <br>
    <main>
        <div class="flex-shrink-0 p-3 bg-white" style="width: 200px;">
              <span class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom fs-5 fw-semibold justify-content-center">Cerrajería</span>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="true">
                Ubicación
                </button>
                <div class="collapse show" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Capital Federal</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Zona Norte</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Zona Oeste</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Zona Sur</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Buenos Aires Interior</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                Calificación
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">5 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">4 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">3 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">2 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">1 Estrella</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Puntualidad
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">5 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">4 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">3 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">2 Estrellas</a></li>
                    <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">1 Estrella</a></li>
                  </ul>
                </div>
          </div>
    </main>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    <footer>
        <ul class="Piepagina">
            <li><a href="/views/trabajaconnosotros.html">Trabaja con Nosotros</a></li>
            <li><a href="/views/condiciones.html">Términos y Condiciones</a></li>
            <li><a href="/views/privacidad.html">Privacidad</a></li>
        </ul>
    </footer>
    <script src="/js/bootstrap.min.js"></script>
    </body>
    </html>
</body>
</html>