<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="/Assets/Icon/favicon_io - Original/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>DaleOficios</title>
</head>
<body>
    <header class="Titulo">
        <img src="/assets/icon/Logo/DaleOficios Blanco.png" alt="" class="Logo">
            <ul class="Inicio">
                <li>
                <a href="/index.html" class="categoria">Categorías</a>
                </li>
                <li>
                <a href="/views/origen.html" class="quienesSomos">¿Quiénes somos?</a>
                </li>
                <li>
                <a href="/views/contactanos.html" class="contacto">Contacto</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="buscar">
            </form>
            <div class="text-end">
                <a href="/views/iniciosesion.html" button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</a>
                <a href="/views/formulario.html" button type="button" class="btn btn-outline-light me-2">Registrarse</a>
            </div>
         </nav>
    </header>
        <br>
    <main>
        <h2 class="objetivo">Términos y Condiciones</h2>
            <h3 class="terminycond">1. GENERAL</h3>
            <p class="parrafoterm">
                A continuación se encuentran los Términos y Condiciones (en adelante, los “Términos y Condiciones”) sobre los cuales se basará la relación entre DALEOFICIOS S.A. (en adelante, DaleOficios) y toda persona que utilice los servicios de DaleOficios (en adelante, el “Usuario”).
                Cualquier persona que no acepte estos Términos y Condiciones, los cuales tienen un carácter obligatorio y vinculante, deberá abstenerse de utilizar los servicios de DaleOficios.
                Al momento de registrarse, los Usuarios deben manifestar su aceptación, expresa e inequívoca de los Términos y Condiciones.
                Si los Usuarios tienen dudas respecto a estos Términos y Condiciones pueden comunicarse con nuestro equipo de Atención al Cliente a través del chat disponible en nuestro Portal o al correo electrónico contacto@daleoficios.com.
            </p>
            <br>
            <h3 class="terminycond">2. DEFINICIONES</h3>
            <p class="parrafoterm">
                "Aplicación", hace referencia a la aplicación “DaleOficios” disponible para las tecnologías móviles.

                "Bienes", son los bienes, productos o servicios que pueden llegar a ser ofrecidos por los Oferentes a través del Portal e integran el Pedido del Usuario. Los Bienes son suministrados por los Oferentes, siendo responsables de los mismos ante los Usuarios.
                
                "Nosotros", "Nuestro", y "DaleOficios", siempre que se haga referencia a los vocablos, se está haciendo referencia directa a la sociedad DALEOFICIOS. S.A., identificación fiscal 30-12345678-0, con domicilio en "Calle Falsa 123", Morón, Buenos Aires, República Argentina y sus sociedades vinculadas
                
                "Oferente", se refiere a agentes externos y/o terceros ajenos a DaleOficios, que previamente han contratado con DaleOficios sus servicios de intermediación, aportando toda la información de los Bienes que se exhiben a través del Portal (precio, características, y en general todas sus condiciones objetivas). Estos, en su calidad exclusiva de productor, proveedor y/o expendedor, son los directamente encargados de cumplir con todas las características objetivas del producto y/o servicio publicado en el Portal.
                
                "Pedido" hace referencia a la solicitud del Usuario a través del Portal de los Bienes de Oferentes.
                
                “Portal” hace referencia nuestra Aplicación y/o al Sitio Web a través de las cuales, en calidad de intermediarios, facilitamos el contacto entre Oferentes, Usuarios y repartidores.
                
                "Usuario" hace referencia a todas las personas humanas o jurídicas que accedan a nuestro Portal y realizan Pedidos sea a través del Sitio Web o de la Aplicación.
                
                "Servicio" hace referencia al servicio de intermediación solicitado por el Usuario a través del Portal.
                
                "Sitio Web" hace referencia al sitio web www.daleoficios.com.ar.
                
                En caso de utilizarse alguna de estas palabras definidas en plural, tendrán el mismo significado que el indicado en el presente.
            </p>
            <br>
            <h3 class="terminycond">3. CAPACIDAD</h3>
            <p class="parrafoterm">
                Los Servicios solo están disponibles para Usuarios que tengan capacidad legal para contratar y sean mayores de edad.

                Para registrar una persona jurídica como Usuario, se deberá contar con la representación legal suficiente como para contratar a nombre y representación de la misma como así también de obligar a la misma según estos Términos y Condiciones.
                
                En caso de desear adquirir bebidas alcohólicas y/o tabaco y/o medicamentos, en pleno cumplimiento de las normas aplicables, el Usuario deberá acreditar ser mayor de 18 años, exhibiendo una identificación al momento de la entrega. Asimismo, en el caso de venta de bebidas alcohólicas pueden resultar aplicables restricciones horarias en función de la normativa local del lugar de residencia del Usuario, adicionalmente, se le podrá pedir una fotografía de la identificación con la cual se acreditó la mayoría de edad.            
            </p>
            <br>
            <h3 class="terminycond">4. DERECHOS DE AUTOR</h3>
            <p class="parrafoterm">
                El contenido del Portal, incluyendo, pero sin limitarse a los textos, gráficas, imágenes, logotipos, íconos, software y cualquier otro material, al cual en adelante se hará referencia como el “Material”, está protegido bajo las leyes aplicables de propiedad industrial y propiedad intelectual. Todo el Material es de propiedad de DaleOficios o de sus proveedores.

                Queda prohibido modificar, copiar, reutilizar, extraer, explotar, reproducir, comunicar al público, hacer segundas o posteriores publicaciones, cargar o descargar archivos, enviar por correo, transmitir, usar, tratar o distribuir de cualquier forma la totalidad o parte de los contenidos incluidos en el Portal.

                El uso no autorizado del Material puede constituir una violación de las leyes sobre derechos de autor, leyes de propiedad industrial u otras leyes. Ningún Usuario podrá vender o modificar el Material de manera alguna, ni ejecutar o anunciar públicamente el Material, ni distribuirlo para propósitos comerciales.

                Tampoco se permitirá copiar o adaptar el código HTML que DaleOficios crea para generar su página web o plataforma, ya que el mismo está protegido por los derechos de autor.  
            </p>
            <br>
            <h3 class="terminycond">5. MARCAS COMERCIALES</h3>
            <p class="parrafoterm">
                DaleOficios, el logotipo de DaleOficios, y otras marcas indicadas en el Portal son marcas comerciales de DaleOficios. Otros gráficos, logotipos, encabezados de página, íconos de botones, guiones y nombres de servicio de DaleOficios son marcas comerciales o imágenes comerciales de DaleOficios. Las marcas comerciales e imagen comercial DaleOficios no podrán ser utilizadas en relación con cualquier producto o servicio que no sea de DaleOficios, en su caso, de ninguna manera que pueda causar confusión entre los Usuarios o que desestime o desacredite a DaleOficios.
            </p>
            <br>
            <h3 class="terminycond">6. USO AUTORIZADO DEL PORTAL</h3>
            <p class="parrafoterm">
                El Portal tiene como fin principal la intermediación entre Usuarios y Oferentes para realizar Pedidos en las ciudades de Argentina que posean el servicio, facilitando las relaciones y transacciones entre Usuarios y Oferentes adheridos al Portal y brindando el servicio de envío en los supuestos que así sea indicado al Usuario. DaleOficios contacta al Oferente, redirecciona el pedido, informar respecto de su disponibilidad o no al Usuario de conformidad con la información que le haya proporcionado el Oferente y a gestionar el envío del mismo al Usuario en aquellos casos que así sea informado. A través del Portal se centralizan y otorgan a los Usuarios, todas las herramientas necesarias para que éste realice un Pedido.
            </p>    
            <br>
            <h3 class="terminycond">7. CREACIÓN DE CUENTA</h3>
            <p class="parrafoterm">
                Para el uso del Portal, los Usuarios deberán crear una cuenta de usuario (en adelante, la “Cuenta”) donde se le solicitarán ciertos datos personales tales como: nombre y apellido, fecha de nacimiento, dirección, teléfono, correo electrónico y datos para procesar los pagos online (en adelante, los “Datos”). Los Usuarios garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia, autenticidad y actualización de sus Datos. En ningún caso DaleOficios se responsabiliza por la actualización y certeza de los Datos de los Usuarios.

                Si los Usuarios tuvieran cuenta en Facebook o en Google, se le podrá ofrecer la posibilidad de crear su Cuenta con la utilización de las credenciales allí incluidas.

                DaleOficios podrá requerir alguna información o documentación adicional a los efectos de comprobar o corroborar los Datos, pudiendo suspender temporal o definitivamente a aquellos Usuarios cuyos Datos no hayan podido ser confirmados.

                Para acceder a su Cuenta personal, el Usuario deberá ingresar su correo electrónico y una contraseña la cual deberá mantener siempre de manera confidencial. Si el Usuario olvida su contraseña, podrá restablecerla haciendo clic en “Olvidé mi contraseña”.

                La Cuenta es única e intransferible, estando prohibido que un Usuario registre o tenga más de una Cuenta por correo electrónico o por celular validado, por lo que de detectarse tal incumplimiento, DaleOFicios se reserva el derecho de cancelar, suspender o inhabilitar las cuentas.

                El Usuario es responsable del resguardo de sus datos de registro y contraseña, así como de todas las transacciones realizadas en su Cuenta, debiendo notificar a DaleOficios inmediatamente, de forma fehaciente, cualquier uso no autorizado de la misma, así como cualquier sustracción, divulgación o pérdida de sus datos de acceso al Portal. DaleOficios vela por la protección de los datos de los Usuarios. Sin embargo, no será responsable del uso fraudulento que puedan hacer terceros de la Cuenta del Usuario, incluidos usos indebidos de sus datos asociados a los pagos online.

                Los Usuarios tienen la facultad de ejercer el derecho de acceso, en cualquier momento y sin restricciones, de sus datos personales. DaleOficios tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales.
            </p>    
            <br>
            <h3 class="terminycond">8. PROCEDIMIENTO Y ACLARACIONES GENERALES</h3>
            <p class="parrafoterm">
                DaleOficios ofrece una plataforma de intermediación en línea para que los Oferentes puedan ofrecer sus Bienes, y los Usuarios puedan adquirirlos y recibirlos en su domicilio. En ese marco, DaleOficios exhibe la información de los Bienes del Oferente según la información y restricciones provistas por los Oferentes.
                
                El Usuario comprende y acepta que DaleOficios no produce, provee, vende, expende ni es agente, ni en general ningún tipo de comercializador de los Bienes exhibidos; por lo anterior, la relación de compraventa es estructurada entre el Usuario y el Oferente. Asimismo, el Usuario reconoce que es el único responsable por la correcta consignación de las direcciones de entrega y recogida de los Pedidos, eximiendo de responsabilidad a DaleOficios y a los repartidores por cualquier error o negligencia.
                
                El Usuario podrá ver las diferentes opciones disponibles sin estar registrado. Sin embargo, para poder formalizar un Pedido, el Usuario debe estar registrado con su Cuenta y debe ingresar el domicilio de entrega. Una vez realizado lo anterior, el Usuario podrá ver las diferentes opciones de Oferentes, Bienes, ubicación de los Oferentes, etc.
                
                Cuando el Usuario ha definido a dónde y qué quiere pedir, debe ingresar al perfil del Oferente en el Portal y elegir el/los Bienes que desea adquirir. Una vez seleccionados, se pone a disposición del Usuario las características, condiciones y valor total del Pedido, según la información provista por el Oferente. El Usuario deberá validar el Pedido y seleccionar el método de pago elegido a través de los medios de pago disponibles informados por cada Oferente. Seleccionada la forma de pago, el Usuario deberá confirmar el Pedido.
                
                Es importante aclarar que todo Usuario se compromete a pagar el precio del Pedido desde el momento en el que recibe la comunicación de confirmación del Pedido según se indica más abajo en estos Términos y Condiciones. Tras la recepción de dicha comunicación, el Usuario únicamente podrá abstenerse de realizar el pago si el Pedido es cancelado de forma correcta, según lo previsto en estos Términos y Condiciones.
                
                Si el Usuario no recibe el Pedido en el domicilio indicado para ello o si surge algún contratiempo en donde no se verifiquen los datos del Usuario y se rechace el pedido una vez fue confirmado por DaleOficios y en ese sentido no se reciban correcciones una vez efectuada la confirmación, toda la responsabilidad recaerá sobre el Usuario y éste deberá indemnizar al Portal haciéndose cargo de todos los costos que generó el error en la transacción, a modo de ejemplo, el costo de envío que pudiera aplicar.
                
                Todos los Pedidos que se realizan a través del Portal son transmitidos a los Oferentes, quienes podrán contactarse con el Usuario, a modo de ejemplo, si los productos o servicios que integran el Pedido no se encuentran disponibles o si no quedó clara alguna observación realizada por el Usuario en el Pedido.
                
                Cuando el Oferente acepta o rechaza el Pedido, se comunica al Usuario con un correo electrónico, una notificación PUSH (emergente) u otro medio de comunicación, en donde se rechaza o confirma la recepción del Pedido, el cual se produce de forma automática con los detalles.
                
                En caso de rechazarse el Pedido por parte del Oferente, DaleOficios notificará al Usuario sin la obligación de notificar los motivos del rechazo.
                
                En caso de confirmarse el pedido, la PUSH (emergente) u otro medio de comunicación, indicará el tiempo de entrega del Pedido. Dicho tiempo de entrega es exclusivamente estimado, y el Usuario reconoce que el mismo podrá sufrir pequeños ajustes mientras el Pedido se prepara (dichos ajustes se verán reflejados en el estado del pedido que se visualiza en el Portal). El Usuario, al hacer su Pedido, afirma conocer y aceptar que innumerables factores como el tráfico, el clima, los horarios pico y la capacidad de preparación del pedido y entrega de algunos Oferentes, pueden ser limitantes para asegurar la hora de entrega.
                
                Durante el tiempo que transcurra entre la confirmación del Pedido y la efectiva entrega del mismo, el Usuario podrá comunicarse en cualquier momento con DaleOficios a efectos de hacer preguntas, presentar quejas, entre otros, casos en los cuales siempre recibirá una respuesta en el menor tiempo posible. El Usuario podrá cancelar el Pedido una vez transcurrido el plazo de entrega indicado en la confirmación del pedido.
                
                DaleOficios gestionará el envío del Pedido salvo en aquellos casos en los que actúe como intermediaria con el servicio de envío a cargo de los Oferentes y centrará sus esfuerzos en resolver todas las quejas o situaciones problemáticas que se configuren con ocasión a demoras, pedidos incompletos o equivocados, etc. En todos los casos, sin excepción, las quejas deben ser presentadas en un lenguaje decente y respetuoso, atendiendo a los presupuestos mínimos de cortesía y educación. En caso contrario, el Portal no estará obligado a proporcionar respuesta alguna, y por el contrario, de acuerdo con su propio criterio, podrá proceder a bloquear al Usuario de su base de datos, quedando dicho Usuario imposibilitado para utilizar los Servicios nuevamente.
                
                Los Usuarios podrán voluntariamente brindar su experiencia al resto de los Usuarios a través de comentarios. Todos los comentarios y calificaciones podrán ser publicados por DaleOficios en función de la relevancia de los mismos. Será necesario que los Usuarios, que deseen realizar un comentario sobre un Oferente hayan tenido una experiencia con el Oferente. Adicionalmente, que el contenido del comentario no transgreda la moral y buenas costumbres.
                
                DaleOficios se reserva el derecho de rechazar o eliminar un comentario en las siguientes circunstancias: Uso de lenguaje ofensivo (uso de un lenguaje obsceno, abusivo y racista no es tolerado en nuestras secciones de comunidad); la discriminación basada en motivos de religión, raza, sexo, origen nacional, edad, estado civil, orientación sexual o discapacidad; las referencias a la actividad ilegal; actos de competencia desleal o Conflictos de interés (a los Oferentes que compiten no se les permite publicar comentarios negativos respecto de otros Oferentes).
                
                Los comentarios no están avalados por DaleOficios ni representan la opinión de DaleOficios. Sin embargo, son propiedad de DaleOficios y como consecuencia de ello, tenemos el derecho de reproducir, traducir, transmitir y/o distribuir todos los materiales relacionados a los comentarios.
                
                La entrega del Pedido podrá realizarse con repartidores del Oferente u otros puestos a disposición por DaleOficios, los cuales en este último caso, serán indicados en el Portal mediante la bandera “ENTREGA POR DALEOFICIOS" según se indica en el Portal. El Usuario comprende y acepta que DaleOficios no se hará responsable ante el Usuario por demoras o falta de entrega del Pedido o en caso que se viera alterado o perjudicado cuando el Oferente sea quien se encargue de este servicio.                
            </p>    
            <br>
            <h3 class="terminycond">9. PRECIO DE LOS SERVICIOS</h3>
            <p class="parrafoterm">
                El precio de los Bienes será presentado en el Portal, según la información provista por el Oferente, antes de que la transacción sea confirmada por el Usuario. Dicho precio incluirá todos los posibles recargos por impuestos, adiciones, etc., que sean aplicables a cada transacción. Siempre se informará el monto mínimo de la compra necesaria y el costo del envío, que será detallado en el resumen previo a la confirmación de la transacción.

                El Usuario comprende y acepta que, dependiendo del estado en el que se encuentre el pedido, es posible que no sea viable realizar modificaciones en el pedido, aunque sí podrá cancelarse el mismo de conformidad con lo previsto en estos Términos y Condiciones.

                Es responsabilidad del Usuario asegurarse en el momento de la entrega del Pedido, que éste corresponde con los Bienes solicitados y que todo lo recibido sea correcto. En caso contrario, el Usuario puede rechazar el Pedido devolviéndoselo al repartidor.
                </p>    
            <br>
            <h3 class="terminycond">10. SERVICE FEE</h3>
            <p class="parrafoterm">
                DaleOficios percibirá un cargo por la prestación del servicio denominado Service Fee, el cual será informado y detallado a los Usuarios al momento del check out en cada uno de los Pedidos.
            </p>    
            <br>
            <h3 class="terminycond">11. MEDIOS DE PAGO</h3>
            <p class="parrafoterm">
                Los métodos de pago para cada Pedido dependen de cada Oferente, por lo que el Usuario podrá verificar esta información en sus respectivos perfiles.

                Pago en la entrega
                
                Pago en efectivo: El Usuario podrá abonar el Pedido al repartidor en efectivo en moneda de curso legal en el país. Asimismo, el Usuario podrá indicar el monto exacto con el que abonará el Pedido, de manera que pueda establecerse si existe algún cargo en diferencia que deba retornarse al Usuario.
                
                POS: El Usuario podrá abonar el Pedido con POS en el domicilio indicado para la entrega.
                
                Pago Online
                
                El Usuario podrá abonar el precio del Pedido mediante medios electrónicos de pago online tales como tarjeta de crédito o tarjeta de débito, así como cupones de descuentos de DaleOficios, billetera virtual, y otros que a futuro se habiliten y sean informados a los Usuarios).
                
                Cuando el Usuario elija realizar el pago online: (i) deberá cargar una tarjeta de crédito, débito u otro medio de pago electrónico autorizado para abonar el monto del Pedido. Esta información es gestionada de forma segura; sus datos no son almacenados en DaleOficios; o (ii) deberá seleccionar un medio de pago electrónico cargado previamente en el Portal.
                
                El Usuario deberá tener particular cuidado en el suministro de datos personales, los cuales deben ser completos y verídicos en el momento de la realización del Pedido. Asimismo, al ingresar los datos el Usuario garantiza que (i) los datos que suministra de su medio de pago electrónico son de su propiedad y tiene suficientes fondos para hacer el pago, cuando éste sea el método de preferencia; (ii) su identidad corresponde con la información contenida en la identificación oficial y original otorgada por las autoridades nacionales.
                
                El monto se descuenta al realizar el Pedido. Si posteriormente el Pedido es cancelado -ya sea por DaleOficios, por el Usuario o por el Oferente-, DaleOficios procesará la devolución al instante. Sin embargo, el reintegro depende de los tiempos estipulados en las políticas del emisor de cada medio de pago electrónico (por ej. de la tarjeta), sobre los cuales DaleOficios no tiene ninguna responsabilidad ni capacidad de modificar los tiempos que estas devoluciones le insuman, resultando suficiente medio de prueba del actuar diligente de DaleOficios la acreditación a través de documentación de procesamiento de pagos, de la solicitud de devolución de las sumas por DaleOficios a las empresas de procesamiento de pagos y empresas emisoras de tarjetas, según corresponda.
                
                Si las devoluciones mencionadas no pueden ejecutarse por factores asociados a las emisoras de los medios de pago electrónicos, el importe será acreditado mediante un Cupón en la cuenta del Usuario y se le notificará sobre dicho crédito.
                
                Las transacciones online se confirmarán con la validación y aceptación del pago por parte de la entidad bancaria del Usuario o el medio de pago elegido. DaleOficios, no se hace responsable por los trámites internos de autorización que disponga la entidad bancaria/financiera que emita los instrumentos de pago, ni por los permisos o límites en las compras establecidos entre el Usuario y su entidad bancaria o que requieren los medios de pago para efectuar compras por internet.
                
                En el detalle de la transacción el Usuario podrá verificar la información completa de pago. Si el Usuario abonó el pedido con Pago Online y el pago fue confirmado, no deberá realizar otro pago por el Pedido, salvo que hubiera realizado modificaciones al Pedido y estas hayan sido confirmadas por DaleOficios.
                
                Cuando el Pedido se abone con Pago Online, el Usuario podrá (dependiendo de la zona de entrega) destinar un monto o porcentaje extra en concepto de propina al repartidor que entregue su Pedido.
                
                DaleOficios no designa ninguna parte de su pago como propina o gratificación al repartidor. Cualquier manifestación por parte de DaleOficios en el sentido de que dar una propina es “voluntario” y/o “no requerido” en los pagos que realiza para los Servicios o Bienes, no pretende sugerir que DaleOficios proporciona importes adicionales al repartidor. El Usuario es libre de proporcionar un pago adicional como gratificación al repartidor que entregue su Pedido.
                
                En caso de cancelarse el pedido -ya sea por DaleOficios, por el Usuario o por el Oferente-, la devolución de lo entregado por el Usuario en concepto de propina, operará de igual forma que la devolución del importe del Pedido, según se indica más arriba.
                
                El Usuario tiene derecho a revocar la aceptación del Pedido dentro de los 10 días de realizado o de la recepción del mismo. En tales casos deberá informar a DaleOficios a contacto@DaleOficios.com su intención de revocar la aceptación o arrepentimiento. El o los productos a devolver deberán estar en perfecto estado de conservación, sin uso y con sus empaques o envoltorios intactos. No procederá el arrepentimiento cuando se trate de bienes perecederos.
            </p>    
            <br>
            <h3 class="terminycond">12. PUBLICIDAD</h3>
            <p class="parrafoterm">
                DaleOficios cuenta con un servicio de publicidad por medio del cual ésta se hace llegar a los Usuarios a través de banderas (banners), correos electrónicos y/u otros medios.
                
                El Usuario puede solicitar no recibir más correos electrónicos u otras notificaciones relativas a publicidad mediante la configuración del perfil de su cuenta.
            </p>    
            <br>
            <h3 class="terminycond">13. RESPONSABILIDAD</h3>
            <p class="parrafoterm">
                DaleOficios únicamente pone a disposición de los Usuarios un espacio virtual de intermediación que les permite ponerse en comunicación mediante internet a los Usuarios, los Oferentes y los repartidores y así comprar y vender, respectivamente, los Bienes. DaleOficios no es proveedora ni propietaria de los Bienes, no tiene posesión de ellos ni los ofrece en venta. El Oferente es el único responsable de la existencia, calidad, cantidad, estado, integridad, inocuidad o legitimidad de los Bienes. El Usuario conoce y acepta que al realizar Pedidos a los Oferentes lo hace bajo su propio riesgo.

                En el caso en que los Bienes ofrezcan garantías (por ej. productos electrónicos exhibidos en el Portal), será el Oferente el obligado a ofrecer estas garantías y en ningún caso, DaleOficios.
                
                Si los Bienes no se ajustan a la calidad, idoneidad o seguridad propias y necesarias, el Usuario podrá solicitar el cambio de estos, o la devolución, según corresponda; y siempre que haya fundamento jurídico y racional para ello, para lo cual DaleOficios trasladará tal solicitud al Oferente, que decidirá la procedencia o no de ésta en su calidad de productor y único responsable respecto de las características objetivas ofertadas. La garantía solo aplica para características objetivas de los productos.
            </p>   
            <br>
            <h3 class="terminycond">14. REGLAS GENERALES</h3>
            <p class="parrafoterm">
                Los Usuarios no pueden usar el Portal ni la App con el fin de transmitir, distribuir, almacenar o destruir material (i) en violación de cualquier ley aplicable o regulación, (ii) de manera que se infrinjan las leyes sobre derechos de autor, propiedad industrial, secretos comerciales o cualquier otro derecho de propiedad intelectual de terceros o de manera que viole la privacidad, publicidad u otros derechos personales de terceros, o (iii) en forma que sea difamatoria, obscena, amenazante o abusiva. Esto sin perjuicio de normas particulares sobre la materia que sean imperativas en cada uno de los ordenamientos jurídicos correspondientes a los territorios en los cuales DaleOficios prestará su servicio.
            </p>    
            <br>
            <h3 class="terminycond">15. PROHIBICIÓN DE REVENTA, CESIÓN O USO COMERCIAL NO AUTORIZADO</h3>
            <p class="parrafoterm">
                Los Usuarios acuerdan no revender o ceder sus derechos u obligaciones al aceptar estos Términos y Condiciones. También se comprometen a no hacer un uso comercial no autorizado del Portal.
            </p>    
            <br>
            <h3 class="terminycond">16. TERMINACIÓN</h3>
            <p class="parrafoterm">
                En los casos de sospecha de fraude o de comisión de algún delito por parte de los Usuarios, DaleOficios podrá suspender o cancelar la registración del Usuario.

                Por su parte, en cualquier momento de la relación, el Usuario podrá dar de baja su cuenta registrada, para cual para gestionar y/o eliminar sus datos personales el Usuario podrá en el Portal dirigirse a “Menú” -> “Ayuda en Línea” -> “Mi cuenta” y allí gestionar el pedido de baja gratuito de su cuenta o la actualización de sus datos personales.
            </p>  
            <br>
            <h3 class="terminycond">17. INFORMACIÓN ADICIONAL</h3>
            <p class="parrafoterm">
                DaleOficios garantiza contar con las medidas de seguridad suficientes para que el Portal opere libre de errores y que su servidor se encuentre libre de virus. Si los dispositivos propios de los Usuarios requieren mantenimiento y/o actualizaciones, será responsabilidad exclusiva de los Usuarios realizar las actualizaciones del Portal que se indiquen y verificar antes de realizar un pedido que no hay actualizaciones pendiente en la app.

                El Portal y el Material se ponen a disposición de los usuarios en el estado en que se encuentren y tal como fuera informado por los oferentes.
            </p>  
            <br>
            <h3 class="terminycond">18. MODIFICACIÓN Y ACTUALIZACIONES DE LOS TÉRMINOS Y CONDICIONES</h3>
            <p class="parrafoterm">
                DaleOficios podrá realizar modificaciones y actualizaciones a estos Términos y Condiciones, para lo cual, se solicitará el consentimiento por parte de los Usuarios como requisito para poder seguir utilizando el Portal.
            </p>  
            <br>
            <h3 class="terminycond">10. LEY APLICABLE Y JURISDICCIÓN</h3>
            <p class="parrafoterm">
                La relación entre el Usuario y DaleOficios, así como la interpretación y aplicación de estos Términos y Condiciones se regirá de conformidad con la legislación de la República Argentina. Serán competentes los tribunales ordinarios de la Ciudad de Buenos Aires o los del domicilio del Usuario, pudiendo los Usuarios optar por alguna de esas opciones.
            </p>  
            <br>
        </main>
        <footer>
            <ul class="Piepagina">
                <li><a href="/views/trabajaconnosotros.html">Trabaja con Nosotros</a></li>
                <li><a href="/views/condiciones.html">Términos y Condiciones</a></li>
                <li><a href="/views/privacidad.html">Privacidad</a></li>
            </ul>
        </footer>
    <script src="/js/bootstrap.min.js"></script>
    </body>
    </html>