<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="/Assets/Icon/favicon_io - Original/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <Style>
        body{background-color: rgb(17, 28, 97)}
        h1{color: whitesmoke}
    </Style>
    <title>DaleOficios</title>
</head>
<body class="text-center">
<main class="form-signin w-100 m-auto">
    <form>
      <img class="mb-4" src="/assets/icon/Logo/DaleOficios Blanco.png" alt="" width="500" height="200">
      <h1 class="h3 mb-3 fw-normal">Inicio de Sesión</h1>
  
      <div class="form-floating">
        <input type="email" class="form-control" id="floatingInput" placeholder="email@ejemplo.com">
        <label for="floatingInput">Dirección de Email</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" placeholder="contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>
      <br>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar Sesión</button>
      <p class="mt-5 mb-3 text-muted">&copy; 2022</p>
    </form>
  </main>
</body>
</html>