<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="/Assets/Icon/favicon_io - Original/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>DaleOficios</title>
</head>
<body>
    <header class="Titulo">
        <img src="/assets/icon/Logo/DaleOficios Blanco.png" alt="" class="Logo">
            <ul class="Inicio">
                <li>
                <a href="/index.html" class="categoria">Categorías</a>
                </li>
                <li>
                <a href="/views/origen.html" class="quienesSomos">¿Quiénes somos?</a>
                </li>
                <li>
                <a href="/views/contactanos.html" class="contacto">Contacto</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="buscar">
            </form>
            <div class="text-end">
                <a href="/views/iniciosesion.html" button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</a>
                <a href="/views/formulario.html" button type="button" class="btn btn-outline-light me-2">Registrarse</a>
            </div>
         </nav>
    </header>
        <br>
    <main>
        <h1 class="objetivo">Cuenta Generada!</h1>
            <p class="gracias">
                Muchas gracias por confiar en nosotros!!
                Todos los datos fueron enviados al correo indicado en el formulario.
            </p>
    </main>
    <footer>
        <ul class="Piepagina">
            <li><a href="/views/trabajaconnosotros.html">Trabaja con Nosotros</a></li>
            <li><a href="/views/condiciones.html">Términos y Condiciones</a></li>
            <li><a href="/views/privacidad.html">Privacidad</a></li>
        </ul>
    </footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>