<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="short cut icon" href="/Assets/Icon/favicon_io - Original/favicon-16x16.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilo.css">
    <title>DaleOficios</title>
</head>
<body>
    <header class="Titulo">
        <img src="/assets/icon/Logo/DaleOficios Blanco.png" alt="" class="Logo">
            <ul class="Inicio">
                <li>
                <a href="/index.html" class="categoria">Categorías</a>
                </li>
                <li>
                <a href="/views/origen.html" class="quienesSomos">¿Quiénes somos?</a>
                </li>
                <li>
                <a href="/views/contactanos.html" class="contacto">Contacto</a>
                </li>
            </ul>
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                <input type="search" class="form-control form-control-dark text-bg-dark" placeholder="Buscar..." aria-label="buscar">
            </form>
            <div class="text-end">
                <a href="/views/iniciosesion.html" button type="button" class="btn btn-outline-light me-2">Iniciar Sesión</a>
                <a href="/views/formulario.html" button type="button" class="btn btn-outline-light me-2">Registrarse</a>
            </div>
         </nav>
    </header>
        <br>
    <main>
        <h2 class="objetivo">¿Quiénes somos?</h2>
            <p class="parrafoterm">
                Somos una empresa de tecnología E-Commerce radicada en Argentina. Mediante una plataforma digital simple, unimos a usuarios y trabajadores independientes de todas partes del país.
                En funciones de las necesidades del usuario, DaleOficios permite conectar con trabajadores de independientes que posean perfiles en nuestra plataforma, pudiendo ver trabajos realizados, calificaciones, opiniones, entre otros, mejorando mutuamente la experiencia.
            </p>
        <h2 class="objetivo">Misión</h2>
            <p class="parrafoterm">
                Construir una plataforma que permita unir a usuarios con trabajadores independientes de todo el país. Fomentando los oficios con poca oferta y mejorando la experiencia entre ambos.
            </p>
        <h2 class="objetivo">Visión</h2>
            <p class="parrafoterm">
                Satisfacer las necesidades de los usuarios y crear oportunidades de trabajo para cada trabajador independiente de oficio. 
            </p>
            <br>
        </main>
        <footer>
            <ul class="Piepagina">
                <li><a href="/views/trabajaconnosotros.html">Trabaja con Nosotros</a></li>
                <li><a href="/views/condiciones.html">Términos y Condiciones</a></li>
                <li><a href="/views/privacidad.html">Privacidad</a></li>
            </ul>
        </footer>
    <script src="/js/bootstrap.min.js"></script>
    </body>
    </html>